# Ignore the build and lib dirs
build/*
!build/.gitkeep

# Ignore data
data/*
!data/.gitkeep

!data/*/
data/*/*
!data/*/.gitkeep

# Ignore images
docs/*.png

# Ignore any executables
bin/*
!bin/.gitkeep

# Ignore Visual Code files
.vscode/